/*
descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~)
*/
body {
  text-align: center;
}

#game-wrapper{
  width: 390px;
}

.playerLabel {
  font: bold 30px Orbitron;
}

canvas{
  display: block;
  margin: 0px auto;
  background: black;
}
#sliderContainer {
  height: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#playerSlider {
  flex-grow: 1;
  margin-left: 45px;
  margin-right: 45px;
}
